extends layout

block content
  body.blackback
    div.welcome
      div
        img.logo(src="./img/kikeriki.png")
      p Data visualisations à Paris.
      hr.divider
      a.discover(href="/tweets") Découvrir ici