doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/tweet.css')
    link(rel='stylesheet', href='/stylesheets/graph.css')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/config.js')

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    script(src='/bootstrap/js/bootstrap.js')
    link(rel='stylesheet', href='/stylesheets/index.css')
    
    nav.navbar-default
      div.container
        div.navbar-header
          div.rightalign
            a.navbar-brand(href="tweets") Tweets
            a.navbar-brand(href="#") Lieux de tournage
            a.navbar-brand(href="#") 3e DataViz
          img.logo2(src="./img/kikeriki.png")
  body
    block content
