nav
	div.logo
		a(href="/")
	ul.links-nav
		li 
			a(href="/tweets" class="tweets-page") Tweets
		li 
			a(href="/shootings" class="shootings-page") Lieux de tournage
		li 
			a(href="/tree") Les arbres