extends ../layout

block content
	script(src='/javascripts/raphael.js')
	script(src='https://cdn.socket.io/socket.io-1.3.3.js')
	div(id=container)
		div(id="map")
	script(src='/javascripts/map.js')
	script(type='text/javascript').
		Map.init();
		var socket = io.connect('http://localhost:3000');
		socket.on('tweet', function(data){
			var circle = undefined;
			console.log(data.tweet.coordinates);
			if(null!=data.tweet.coordinates) {
				var pos = Map.getPixelPosition(Map.rsr, data.tweet.coordinates.coordinates[0], data.tweet.coordinates.coordinates[1]);
				circle = Map.rsr.circle(pos.x, pos.y, 5);
				circle.attr('fill', '#4099FF');
				circle.attr('stroke', 'none');
			}
		});