extends ../layout

block content
	section.about.home
		p 
			<i class="fa fa-map-marker"></i>
			p Une carte de Paris. Les tweets en direct, placés sur la carte.
		p 
			<i class="fa fa-bar-chart"></i> 
			p Des statistiques de tous les tweets sauvegardés.
	section.tweets-page
		include ../nav

		script(src='/javascripts/raphael.js')
		script(src='https://cdn.socket.io/socket.io-1.3.3.js')
		script.
			var io = io('http://kikeriki.herokuapp.com');

		section(class="container tweets")
			div(id="map")
			aside(class="tweet-slide")
				i(class="fa fa-close")
				div(class="tweet-content")
				h2(class="timeline-button") Timeline&nbsp;
					i(class="fa fa-plus-square-o")
				div(class="tweet-timeline")
			div(id="button-stats-loader")
			button(class="show-stats-button" id="load-stats") 
				i(class="fa fa-bar-chart") 
				span &nbsp;Statistiques

		section(class="container stats")
			h2 Nombre de tweets répartient par heures sur les <span id="nbtweet">500 000</span> derniers tweets de paris
			section(id="nb-tweets")
			h2 Les trois premiers hastags sur les <span id="nbhashtag">500 000</span> derniers hashtags des tweets de paris
			section(id="top-hashtags")
				div(id="top1-name")
				div(id="top2-name")
				div(id="top3-name")
				div(id="top1-graph")
				div(id="top2-graph")
				div(id="top3-graph")

		script(src='/javascripts/jquery.flot.min.js')
		script(src='/javascripts/map.js')
		script(src='/javascripts/sidebar.js')
		script(src='/javascripts/tweetGraph.js')
		script(src='/javascripts/tweet.js')
		script(type='text/javascript').
			$('.tweets-page').css('display', 'none');
			$('.about').animate({
				opacity: 0
			}, 5000, function(){
				$('.about').css('display', 'none');
				$('.tweets-page').fadeIn(500);
			});
			$(document).ready(function() {
				Sidebar.init();
				Map.init();
				Tweet.init();
				TweetGraph.init();
			});