extends ../layout

block content
	script(src='/javascripts/raphael.js')
	script(src='https://cdn.socket.io/socket.io-1.3.3.js')
	script.
		var io = io('http://localhost:3000');

	section(id="container", class="tweets")
		div(id="map")
		aside(class="tweet-slide")
			i(class="fa fa-close")
			div(class="tweet-content")
			h2(class="timeline-button") Timeline&nbsp;
				i(class="fa fa-plus-square-o")
			div(class="tweet-timeline")

	script(src='/javascripts/map.js')
	script(src='/javascripts/sidebar.js')
	script(src='/javascripts/tweet.js')
	script(type='text/javascript').
		$(document).ready(function() {
			Sidebar.init();
			Map.init();
			Tweet.init();
		});