.flot-text {
	color: #ffffff !important;
}
.flot-x-axis {
	top: 10px !important;
}
.flot-y-axis {
	left: -10px !important;
}
#topHashtags {
	width: 50%;
	margin: 100px auto 0 auto;
}
#top1-graph, #top1-name, #top2-graph, #top2-name,  #top3-graph, #top3-name  {
	display: inline-block;
	width: 30%;
	text-align: center;
	color: #ffffff;
	font-size: 1.2em;
}
#top1-graph {
	background: #000;
}
#top2-graph {
	background: #333;
}
#top3-graph {
	background: #666;
}