.home {
  position: relative;
  background: #2c9fc4; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #2c9fc4 0%, #00b9a2 45%, #fbe380 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2c9fc4), color-stop(45%,#00b9a2), color-stop(100%,#fbe380)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #2c9fc4 0%,#00b9a2 45%,#fbe380 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #2c9fc4 0%,#00b9a2 45%,#fbe380 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #2c9fc4 0%,#00b9a2 45%,#fbe380 100%); /* IE10+ */
  background: linear-gradient(135deg,  #2c9fc4 0%,#00b9a2 45%,#fbe380 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c9fc4', endColorstr='#fbe380',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  height: 100%;
  text-align: center;
}
.home .logo {
  background: url('/img/logo.png') center no-repeat;
  background-size: 368px;
  height: 152px;
}
.home .center-block {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 368px;
  height: 400px;
  margin-top: -200px;
  margin-left: -189px;
}
.home h1 {
  width: 368px;
  margin: 70px 0 30px 0;
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 200;
  font-family: 'Source Sans Pro', sans-serif;
}
.home .divider {
  width: 250px;
  height: 1px;
  border: none;
  background: #ffffff;
  outline: none;
}
.home .button {
    margin-top: 40px;
}
.home .button a {
  display: block;
  border: 1px solid #fff;
  padding: 10px 50px 10px 50px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  text-decoration: none;
}
.home .button a:hover {
  text-decoration: none;
  background: #ffffff;
  color: #00b9a2;
  border: 1px solid #00b9a2;
}