/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#map {
    -webkit-animation-name: mapAnimX;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1.5s;

    animation-name: mapAnimX;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;

    /*-webkit-animation-name: mapAnimZ;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1.5s;

    animation-name: mapAnimZ;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;*/

    -webkit-transform: rotateX(60deg);
    transform: rotateX(60deg);
}

@-webkit-keyframes mapAnimX {
    0% {
    	opacity: 0;
        -webkit-transform: rotateX(0deg);
    }
    25% {
    	opacity: 0;
    }
    60% {
    	opacity: 0.4;
    }
    100% {
    	opacity: 1;
        -webkit-transform: rotateX(60deg);
    }
}
@keyframes mapAnimX {
    0% {
    	opacity: 0;
        transform: rotateX(0deg);
    }
    25% {
    	opacity: 0;
    }
    60% {
    	opacity: 0.4;
    }
    100% {
    	opacity: 1;
        transform: rotateX(60deg);
    }
}

@-webkit-keyframes mapAnimZ {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(10deg);
    }
}
@keyframes mapAnimZ {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(10deg);
    }
}