.tree-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.tree {
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-weight: 200;
  height: 100%;
  width: 100%;
  padding: 20px 0 0 0;
  overflow: hidden;
  position: relative;
}
.blurred {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-image: url('/img/tree_bg.jpg');
  background-position: center center;
  background-size: cover;
  height: 110%;
  width: 110%;
  position: absolute;
  top: -5%;
  left: -5%;
  z-index: -10;
}
.tree canvas {
	position: absolute;
	z-index: 1;
}
.tree canvas.show {
  z-index: 20;
}
.tree #message {
  line-height: 20px;
  min-height: 20px;
  position: relative;
  z-index: 25;
  font-size: 20px;
  top: 10px;
  left: 10px;
  color: #ffffff;
}
.tree #message.black {
	color: #333333;
}
.tree input {
  position: relative;
  z-index: 25;
  top: 40px;
  left: 10px;
}
.tree .screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.5;
  z-index: 2;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.tree .screen.showAll {
  opacity: 0 !important;
}
.tree .down-bar-tree {
	height: 100%;
}
.tree .down-bar-tree .loader {
	width: 50%;
	min-width: 300px;
	margin: 0 auto;
}
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  margin: 0;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #5EC996;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}​
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #5EC996;
}
input[type="range"]::-webkit-slider-thumb:active{
  transform: scale(1.6);
}

.down-bar-tree {
    font-family: 'Source Sans Pro', arial, sans-serif;
    background: #2c9fc4; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #2c9fc4 0%, #00b9a2 45%, #fbe380 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2c9fc4), color-stop(45%,#00b9a2), color-stop(100%,#fbe380)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #2c9fc4 0%,#00b9a2 45%,#fbe380 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #2c9fc4 0%,#00b9a2 45%,#fbe380 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #2c9fc4 0%,#00b9a2 45%,#fbe380 100%); /* IE10+ */
    background: linear-gradient(135deg,  #2c9fc4 0%,#00b9a2 45%,#fbe380 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c9fc4', endColorstr='#fbe380',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    position: absolute;
    bottom: 0;
    width: 100%; 
    height: calc(100% - 4em);
    padding: 20px 10px 10px 10px;
    z-index: 10000;
    font-size: 1.2em;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
}
.down-bar-tree .loader p.infos {
  font-size: 1.2em;
  margin:0 auto 15px auto;
  width: 50%;
  min-width: 500px;
}
.down-bar-tree .loader p{
    color: #ffffff;
    font-size: 2em;
    font-weight: 200;
    text-align: center;
    margin:20px 0 20px 0;
}