#container.tweets {
    height: 100%;
}
/*#map {
    -webkit-animation-name: mapAnimX;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1.5s;

    animation-name: mapAnimX;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;

    -webkit-transform: rotateX(60deg);
    transform: rotateX(60deg);
}

@-webkit-keyframes mapAnimX {
    0% {
    	opacity: 0;
        -webkit-transform: rotateX(0deg);
    }
    25% {
    	opacity: 0;
    }
    60% {
    	opacity: 0.4;
    }
    100% {
    	opacity: 1;
        -webkit-transform: rotateX(60deg);
    }
}
@keyframes mapAnimX {
    0% {
    	opacity: 0;
        transform: rotateX(0deg);
    }
    25% {
    	opacity: 0;
    }
    60% {
    	opacity: 0.4;
    }
    100% {
    	opacity: 1;
        transform: rotateX(60deg);
    }
}

#map circle {
    transform: translateY(420px);
    -webkit-transform: translateY(420px);
    cursor: pointer;
}*/

#map circle {
    cursor: pointer;
}

.tweet-slide {
    background: #2C3E50;
    color: #BDC3C7;
    width: 250px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}  
    .tweet-slide h1 {
        margin: 26px 10px 0 0;
        text-align: right;
    }
    .tweet-slide h2 {
        margin: 25px 10px 25px 0;
        text-align: right;
    } 

    .tweet-slide .fa {
        cursor: pointer;
        float: left;
        margin: 25px 0 25px 10px;
        font-size: 1.2em;
    }

    .tweet-slide .tweet-content {
        clear: both;
        background: #3498DB;
    }   
        .tweet-slide .tweet-content h2 {
            height: 2em;
            line-height: 2em;
            font-size: 1.1em; 
            padding: 0 10px 0 10px;
            margin: 0;
            text-align: left;
            color: #E4F1FE;
        }   
            .tweet-slide .tweet-content h2 a {
                color: #E4F1FE;
                text-decoration: underline;
            }

        .tweet-slide .tweet-content p {
            background: #FFFFFF;
            color: #22313F;
            padding: 10px;
        }

    .tweet-slide .tweet-timeline {
        background: none;
    }   
        .tweet-slide .tweet-timeline h2 {
            border-bottom: 1px solid #3498DB;
            padding-bottom: 10px;
            margin-bottom: 10px;
            padding: 0 10px 0 10px;
            margin: 0;
            text-align: left;
        }   
            .tweet-slide .tweet-timeline h2 a {
                font-size: 1em; 
                color: #000000;
                text-decoration: underline;
            }

        .tweet-slide .tweet-timeline p {
            padding: 10px;
        }