extends ../layout

block content	
  //- script(src='/javascripts/lib/p5.min.js')
  //- script(src='/javascripts/processing.js')
  canvas(id="tree" width="800", height="800") Your browser does not support the HTML5 canvas tag.
  script(src='/javascripts/modules/tree.js')
  script(src='/javascripts/lib/random.js')
  script.
      Tree.init();